// Resets - would usually be in own file just to keep things clean, but preferred not to have to many files for
// a small code challenge

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    * {
        box-sizing: border-box;
        &:after, &:before {
            box-sizing: border-box;
        }
    }
    a, a:link, a:visited, a:hover {
        text-decoration: none;
        color: inherit;
    }
}

// END RESETS

.page_wrap {
    padding-top: 260px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #1e354a;
    color: #fff;
    @media screen and (min-width: 760px) {
        padding-top: 200px;
    }
    &:before {
        content: '';
        display: block;
        top: 259px;
        height: 10px;
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(30,53,74,1) 0%,rgba(30,53,74,0) 100%);
        @media screen and (min-width: 760px) {
            top: 200px;
        }
        
    }
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    transition: 0.3s ease-in-out;
    max-width: calc(100vw - 20px);
    z-index: 10;
    text-align: center;
    @media screen and (min-width: 760px) {
        text-align: left;
    }
    &.searched {
        top: 10px;
        transform: translate(-50%, 0);
        @media screen and (min-width: 760px) {
            top: 20px;
            left: 20px;
            transform: translate(0, 0);
        }
    }
    #searchbox {
        padding: 10px 5px;
        border-radius: 4px;
        outline: transparent;
        border: 1px solid #939694;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
        @media screen and (min-width: 760px) {
            margin-bottom: 0;
        }
    }
    button {
        font-size: 20px;
        font-weight: 400;
        border-radius: 4px;
        padding: 0 10px 3px;
        line-height: 24px;
        height: 45px;
        min-width: 255px;
        text-transform: none;
        text-decoration: none;
        text-align: center;
        color: #2f333d;
        background-color: #ffce29;
        transition: background-color .15s ease-in-out;
        border: 0 solid transparent;
        cursor: pointer;
        @media screen and (min-width: 760px) {
            min-width: 120px;
        }
        &:hover {
            background-color: #ffd753;
        }
    }
    .search_info {
        margin-top: 10px;
    }
}


#results_wrap {
    max-height: calc(100vh - 200px);
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result_link, a.result_link, a.result_link:link, a.result_link:visited, a.result_link:hover  {
    width: 250px;
    margin: 10px;
    border: 1px solid #939694;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 15px -1px rgba(0,0,0,0.5); 
    box-shadow: 4px 5px 15px -1px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: #2f333d;
    background: #fff;
    img {
        max-width: 100%;
        height: auto;
    }
    .avatar_wrap {
        max-width: 80%;
        margin: 0 auto 10px;
    }
    .created_by {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .desc {
        text-align: left;
        margin-bottom: 10px;
        max-height: 50px;
        overflow: hidden;
    }
    .star_count {
        position: relative;
        color: #c7bd40;
        &:before, &:after {
            content: "\2605";
            position: absolute;
            top: -5px;
            display: block;
        }
        &:before {
            left: 10px;
        }
        &:after {
            right: 10px;
        }
    }
    // JUST FOR FUN ADDED BIT
    .over_9 {
        img {
            max-width: 40px;
        }
    }
}